body{
    --azul-principal: #031859;
    --rosa-principal: #F09BA3;
    --cinza: #707070;
    --cinza-claro: #7E7E7E;
}

.icon-coracao_azul{
    align-items: center;
    color: var(--azul-principal);
    font-size: 1.6rem;
}

.sociais{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}