.info{
    margin-top: 6rem;
    background-color: var(--rosa-principal);
    padding: 2rem;
}

.info-content{
    text-align: center;
    font-family:'Roboto', sans-serif;
}

.info-content_titulo{
    color: var(--azul-principal);
    font-weight: 700;

}

.info-content_subtitulo{
    color: white;
}

.info-content_paragrafo{
    color: white;
}

.info-content_btn{
    background-color: var(--azul-principal);
    color: white;
}