.rodape{
    background-color: var(--azul-principal);
    padding: 3rem;
}

.rodape-content{
    color: white;
}

.rodape-content_paragrafo{
    font-family:'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-size: 0.8rem;
    padding-top: 3%;
}

