.mapa-content_icon{
    text-align: center;
    margin-top: 1rem;
}

.mapa-content_titulo{
    color: var(--azul-principal);
    font-weight: 700;
    font-family:'Roboto', sans-serif;
    margin-bottom: 1rem;
}

.mapa-content{
    text-align: center;
}

.mapa{
    margin-top: 6rem;
}


@media screen and (max-width: 800px) {
    .mapa-content_map{
        width: 100%;
        height: 20rem;
    }
  } 