.sobre{
    margin-top: 6rem;
}

.sobre-content{
    margin-top: 2rem;
    font-family:'Roboto', sans-serif;
}

.sobre-content_titulo{
    color: var(--azul-principal);
    font-weight: 700;
}

.sobre-content_paragrafo{
    font-size: 1.2rem;
    color: var(--cinza);
}

.sobre-content_icon{
    text-align: center;
}